@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "Calculator";
}

<h1>Calculator</h1>
<div>
    <!--Setup of how the calculator view will look-->
    <label for="hours">Enter number of hours:</label>
    <input type="number" id="hours">
    <p>Charge per hour: $20</p>
    <button id="calculate">Calculate Total</button>
    <p>Total: <input type="text" id="total" readonly></p>
</div>