@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BALL UP</h1>
    <p>Learn more about the best sport - BASKETBALL.</p>

    <img src="~/images/lebron_mission5.jpeg" alt="LeBron James Dunking" style="width: 400px; height: auto;">
    <img src="~/images/jokic_mission5.jpeg" alt="Nikola Jokić Shooting" style="width: 400px; height: auto;">
    <br />
    <p>I have always loved basketball. My mom played in high school so she taught me everything I know. When I was really young, I
        started playing soccer and liked it. But my true passion for sports didn't start until I started playing basketball a couple years
        later. I played through elementary, middle, and high school and I still play it a lot today. I play shooting guard and small forward.
        My size made the position hard to determine growing up since i'm fast enough to be a guard but also strong enough to be a post.
        Basketball is my absolute favorite hobby.
    </p>
    <br /><br />
    <p>Surprisingly, I actually like watching football more than basketball but it's at a close second. In my opinion, LeBron James is the best
        basketball player to ever live. He has absolutely dominated the NBA since he graduated high school and he hasn't slowed down yet. He still
        dominates in his 21st season. The reason I have added the photo of Jokic is because I believe he is the current second best in the league.
    </p>
</div>


